.comment {
    display: flex;
    gap: 10px;
    margin: 20px;
    color: black;
    h6 {
        span {
            font-weight: bold;
        }
        margin: 0;
    }
}

.avatar {
    height: 40px;
    min-width: 40px;
    color: white;
    font-size: 16pt;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}
