.add-ann-cta {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    h5 {
        margin: 0;
    }
}
.add-ann-cta:hover {
    color: black;
}